conky.config = {
    alignment = 'top_left',
    gap_x = 0,
    gap_y = 0,
    double_buffer = true,
    update_interval = 0.1,
    use_xft = true,
    font = 'JetBrainsMono Nerd Font:size=11',
    xftalpha = 0.9,
    own_window = true,
    own_window_type = 'desktop',
    own_window_argb_visual = true,
    own_window_argb_value = 180,
    own_window_colour = '#0A0A1A',
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    draw_shades = false,
    draw_outline = false,
    draw_borders = false,
    draw_graph_borders = true,
    default_color = '#39FF14',
    color1 = '#66FF66',
    color2 = '#FF0000',
    color3 = '#FFFF00',
    color4 = '#00FF00',
    minimum_width = 306, minimum_height = 150,
    maximum_width = 306,
};

conky.text = [[
${color}${font JetBrainsMono Nerd Font:bold:size=12}BATTERY STATUS${font}
${hr 2}
 ${color1}${execi 5 cat /sys/class/power_supply/BAT0/status | awk '{print toupper(substr($0,1,1)) tolower(substr($0,2))}'}${alignr}${battery_percent BAT0}%
${if_match ${battery_percent BAT0} < 20}${color2}${battery_bar 8,270 BAT0}
${else}${if_match ${battery_percent BAT0} < 50}${color3}${battery_bar 8,270 BAT0}
${else}${color4}${battery_bar 8,270 BAT0}${endif}${endif}
# Only log when charging
${if_match "${acpiacadapter}" == "on-line"}\
${execi 5 echo "$(cat /sys/class/power_supply/BAT0/capacity)" >> /tmp/battery.log}\
${endif}
 ${voffset 5}${color1}Battery % over time:
${if_match ${battery_percent BAT0} < 20}${color2}
${else}${if_match ${battery_percent BAT0} < 50}${color3}
${else}${color4}${endif}${endif}${execi 5 tail -n 30 /tmp/battery.log | tr '\n' ' '}
${if_match "${acpiacadapter}" == "on-line"}\
${if_match ${battery_percent BAT0} < 20}${color2}${else}${if_match ${battery_percent BAT0} < 50}${color3}${else}${color4}${endif}${endif}\
${execbar cat /sys/class/power_supply/BAT0/capacity}\
${else}${execbar echo 0}${endif}
]];
