
conky.config = {
    alignment = 'top_left',
    gap_x = 322,
    gap_y = 0,
    background = true,
    double_buffer = true,
    update_interval = 1,
    total_run_times = 0,
    override_utf8_locale = true,
    use_xft = true,
    font = 'JetBrainsMono Nerd Font:size=12',
    xftalpha = 0.8,
    own_window = true,
    own_window_type = 'desktop',
    own_window_transparent = false,
    own_window_argb_visual = true,
    own_window_argb_value = 180,
    own_window_colour = '#0A0A1A',
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    minimum_width = 420, minimum_height = 70,
    maximum_width = 300,
    draw_shades = false,
    draw_outline = false,
    draw_borders = false,
    draw_graph_borders = false,
    default_color = '#00ccff',
    color1 = '#00ffff',
    color2 = '#3399ff',
};

conky.text = [[
${alignc}${font JetBrainsMono Nerd Font:bold:size=36}${color}${time %H:%M:%S}${font}
${alignc}${font JetBrainsMono Nerd Font:size=16}${color2}${time %A, %d %B %Y}${font}

${voffset 8}${font JetBrainsMono Nerd Font:bold:size=12}${color1}Local Time:${color} ${execi 1 LC_TIME=en_US.UTF-8 date +"%I:%M:%S %p"}
${font JetBrainsMono Nerd Font:bold:size=12}${color1}UTC Time:  ${color} ${execi 1 LC_TIME=en_US.UTF-8 date -u +"%I:%M:%S %p"}
]]
