conky.config = { 
    alignment = 'bottom_left', 
    gap_y = 2 , 
    background = true, 
    border_width = 1, 
    cpu_avg_samples = 2, 
    default_color = '#00BFFF', 
    default_outline_color = '#000000', 
    default_shade_color = '#000000', 
    draw_borders = false, 
    draw_graph_borders = true, 
    draw_outline = false, 
    draw_shades = false, 
    use_xft = true, 
    font = 'JetBrainsMono Nerd Font:size=10', 
    minimum_width = 300, 
    minimum_height = 0, 
    net_avg_samples = 2, 
    no_buffers = true, 
    double_buffer = true, 
    own_window = true, 
    own_window_type = 'desktop', 
    own_window_argb_visual = true, 
    own_window_argb_value = 180, 
    own_window_colour = '#0A0A1A', 
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager', 
    stippled_borders = 0, 
    update_interval = 1.0, 
    uppercase = false, 
    use_spacer = 'none', 
    show_graph_range = false, 
    show_graph_scale = false 
}; 

conky.text = [[
${color #00BFFF}${font JetBrainsMono Nerd Font:bold:size=12}SYSTEM INFO${font}
${hr 2}
Hostname: ${alignr}${nodename}
Uptime: ${alignr}${uptime}
Kernel: ${alignr}${kernel}

${color #00BFFF}${font JetBrainsMono Nerd Font:bold:size=12}CPU${font}
${hr 2}
Usage: ${cpu}% ${alignr}${cpubar 8,120}
Core 1: ${cpu cpu0}% ${alignr}${cpugraph cpu0 20,120 00BFFF 0080FF}
Core 2: ${cpu cpu1}% ${alignr}${cpugraph cpu1 20,120 00BFFF 0080FF}
Core 3: ${cpu cpu2}% ${alignr}${cpugraph cpu2 20,120 00BFFF 0080FF}
Core 4: ${cpu cpu3}% ${alignr}${cpugraph cpu3 20,120 00BFFF 0080FF}
Core 5: ${cpu cpu4}% ${alignr}${cpugraph cpu4 20,120 00BFFF 0080FF}
Core 6: ${cpu cpu5}% ${alignr}${cpugraph cpu5 20,120 00BFFF 0080FF}
Core 7: ${cpu cpu6}% ${alignr}${cpugraph cpu6 20,120 00BFFF 0080FF}
Core 8: ${cpu cpu7}% ${alignr}${cpugraph cpu7 20,120 00BFFF 0080FF}

${color #00BFFF}${font JetBrainsMono Nerd Font:bold:size=12}MEMORY${font}
${hr 2}
RAM: ${mem} / ${memmax} ${alignr}${membar 8,120}
SWAP: ${swap} / ${swapmax} ${alignr}${swapbar 8,120}

${color #00BFFF}${font JetBrainsMono Nerd Font:bold:size=12}DISK${font}
${hr 2}
Root: ${fs_used /} / ${fs_size /} ${alignr}${fs_bar 8,120 /}
Read: ${diskio_read} ${alignr}${diskiograph_read 20,120 00BFFF 0080FF}
Write: ${diskio_write} ${alignr}${diskiograph_write 20,120 00BFFF 0080FF}
]];
