conky.config = {
    alignment = 'bottom_left',
    gap_x = 316 ,
    gap_y = 6 ,
    background = true,
    border_width = 1,
    cpu_avg_samples = 2,
    default_color = '#00BFFF',
    default_outline_color = '#000000',
    default_shade_color = '#000000',
    draw_borders = false,
    draw_graph_borders = true,
    draw_outline = false,
    draw_shades = false,
    use_xft = true,
    font = 'JetBrainsMono Nerd Font:size=10',
    minimum_width = 300,
    minimum_height = 0,
    net_avg_samples = 2,
    no_buffers = true,
    double_buffer = true,
    own_window = true,
    own_window_type = 'normal',
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    own_window_transparent = false,
    own_window_argb_visual = true,
    own_window_argb_value = 180,
    own_window_colour = '#0A0A1A',
    stippled_borders = 0,
    update_interval = 1.0,
    uppercase = false,
    use_spacer = 'none',
};

conky.text = [[
${color #00BFFF}${font JetBrainsMono Nerd Font:bold:size=12}TEMPERATURE MONITOR${font}
${hr 2}
CPU Core 0:${alignr}${execi 5 sensors | awk '/Core 0:/ { match($0, /[+-][0-9.]+°C/, m); print m[0] }'}
CPU Core 1:${alignr}${execi 5 sensors | awk '/Core 1:/ { match($0, /[+-][0-9.]+°C/, m); print m[0] }'}
CPU Core 2:${alignr}${execi 5 sensors | awk '/Core 2:/ { match($0, /[+-][0-9.]+°C/, m); print m[0] }'}
CPU Core 3:${alignr}${execi 5 sensors | awk '/Core 3:/ { match($0, /[+-][0-9.]+°C/, m); print m[0] }'}
Package Temp:${alignr}${execi 5 sensors | awk '/Package id 0:/ { match($0, /[+-][0-9.]+°C/, m); print m[0] }'}

${voffset 5}${color #00BFFF}${font JetBrainsMono Nerd Font:bold:size=12}DISK TEMPERATURE${font}
${hr 2}
NVMe Composite:${alignr}${execi 5 sensors | awk '/Composite:/ { match($0, /[+-][0-9.]+°C/, m); print m[0] }'}
NVMe Sensor 1:${alignr}${execi 5 sensors | awk '/Sensor 1:/ { match($0, /[+-][0-9.]+°C/, m); print m[0] }'}
NVMe Sensor 2:${alignr}${execi 5 sensors | awk '/Sensor 2:/ { match($0, /[+-][0-9.]+°C/, m); print m[0] }'}

${voffset 5}${color #00BFFF}${font JetBrainsMono Nerd Font:bold:size=12}GPU STATUS${font}
${hr 2}
GPU Temp (Intel):${alignr}${execi 5 sensors | awk '/Package id 0:/ { match($0, /[+-][0-9.]+°C/, m); print m[0] }'}
]];
